<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Meetings Template</title>
  </head>
  <body>
    <header>
      <div class="image-box-container">
        <img src="#" alt="sunshine eye" class="sunshine-eye" />
        <h1>Open Meetings Policy</h1>
      </div>
      <div class="ul-container">
        <ul class="links">
          <li><a href="#">Introduction</a></li>
          <li><a href="#">Core Values</a></li>
          <li><a href="#">Join our Campaign</a></li>
          <li><a href="#">Sign the Petition</a></li>
          <li><a href="#">Endorsements</a></li>
        </ul>
      </div>
      <iframe
        src="publicmeetings.html"
        width="100%"
        height="400px"
        title="My file"
        ></iframe>
    </header>
    <main>
      <section class="hero-container">
        <section class="content"></section>
      </section>
    </main>
  </body>
</html>
