.hero-container{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color:#c9d4f3;
}

.map-container{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
}

.add-container{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
}

  .readiness-container{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color:#c9d4f3;
}

.recommendations-container{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
}