@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins&family=Roboto+Flex:opsz,wght@8..144,200;8..144,600&family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #ffb446;
    --anchor-color: #5650BE;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Poppins';
}

a {
    color: var(--anchor-color);
}

.navbar {
    background-color: var(--primary-color);
}


#header-section {
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: var(--primary-color);
}

#footer-section {
    margin: 0 auto;
    text-align: center;
    padding-top:1.2em;
    padding-bottom: 0.25em;
    background-color: var(--primary-color);
}

#introduction-section{
    /* margin: 0 auto; */
    padding: 2em 2em 10em 10em;
    background-color: var(--secondary-color);
}

#introduction-section h2{
    padding: 1em 1em 1em 0;
    color:#222;
    font-size: 31px;
}

#introduction-section h2 span{
    font-weight: bold;
}

#scan-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #fff;
}
#scan-section h2{
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#scan-section h3{
    font-size: 22px;
    padding-bottom: 1em;
    padding-left: 1.75em;

}

#scan-section p{
    padding-left: 2.5em;
    font-size: 17px;
}

#evaluation-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color:#F0DCD2;
}

#evaluation-section h2{
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#evaluation-section h3{
    font-size: 22px;
    padding-bottom: 1em;
    padding-left: 1.75em;
}


#evaluation-section p{
    font-size: 17px;
    padding-left: 2.5em;

}
#evaluation-section ul, ol{
    margin-left: 3em;
    /* Rocio removed so the ordered lists can populate */
    /* list-style: inside; */
}

#recommendations-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #fff;
}

#faq-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #F0DCD2;
}

#contact-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #fff;
}

footer, footer a{
    color:#444;
    text-decoration: none;
}


/*Mobile Styles*/

@media (max-width: 1200px) {


} /* for desktops */

@media (max-width: 991px) {


} /* for laptops */

@media (min-width: 768px) and (max-width: 990px) {


 } /* for large tablets */

@media (max-width: 768px) {


} /* for smaller tablets */

@media screen and (max-width: 500px) {


 } /* for cellphones */
