@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Flex:opsz,wght@8..144,200;8..144,600&display=swap');

html, body {
    font-family: 'Roboto Flex';
}

#welcome-section {
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #ddd;
}

#map-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #aaa;
}

#add-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #ddd;
}

#checklist-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color:#aaa;
}

#recommendations-section{
    margin: 0 auto;
    padding: 2em 2em 10em 10em;
    background-color: #ddd;
}

header{
    height:150px;
    color:#ddd;
}
nav {
    float: right;
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #555;
    padding-left: 80px;
}

#navbar {
    position:absolute;
    top:0px;
    width: 85%;
}
header h1 {
    font-family: 'Roboto Flex';
    font-size: 30px;
    color: #444;
    padding: 35px 0 35px 5px;
}
#title {
    top:0px;
    width: 500px;
    float: left;
    font-weight: bold;

  }

p{
    font-size:18px;
}
