@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins&family=Roboto+Flex:opsz,wght@8..144,200;8..144,600&family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #ffb446;
  --anchor-color: #5650BE;
  --font-color: #222;
  --anchor-color: #5650be;
  --marker-color: #ffb345;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* margin: 0; */
  font-size: 100%;
  font-family: 'Poppins';
}

section {
  border: 2px solid black;
  padding: 1em;
  /* margin: 1em; */
}

details {
  border: 2px solid black;
  padding: 1em;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

a {
  color: var(--anchor-color);
}

button {
  font-family: 'Poppins';
  background-color: var(--primary-color);
  color: var(--font-color);
}

button:hover {
  background-color: var(--anchor-color);
}

.navbar {
  background-color: var(--primary-color);
}

#introduction-section{
  background-color: var(--secondary-color);
}

#listings-control {
  display: flex;
  justify-content: end;
}

#map-div {
  height: 80vh;
  padding: 1em;
  display: flex;
}

#meeting-list {
  border: 4px solid black;
  height: 100%;
  overflow-y: scroll;
}

#listings {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#map {
  border: 4px solid black;
  height: 100%;
}

.meeting-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.meeting-info p {
  font-size: large;
}


/* MapBox Popup styles */
.mapboxgl-popup {
  border: 4px solid black;
  background-color: cyan;
  /* padding: 1em; */
  width: 75%;
  height: 50%;
}

.mapboxgl-popup-content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: inherit;
  background: var(--primary-color);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.mapboxgl-popup-close-button {
  font-size: xx-large;
  color: red;
}

.meeting-marker {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-image: url('../assets/yellow-marker-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Use in case special styling is needed for mobile devices */
@media screen and (orientation:landscape) and (max-width: 1024px){
}

@media screen and (orientation:portrait) {
}
